@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+Paaji+2&display=swap');

:root {
    --box-shadow: 0px 10px 14px -7px #276873;
    --white: floralwhite;
    --red: #7a1022;
    --light-red: #b3596f;
    --green: #89c403;
    --light-green: #89c403;
    --black: #000;
}

html {
    font-size: 17px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Baloo Paaji 2', cursive;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: ".  .  hd   hd   hd   hd   hd   hd   ."
        "sd sd main main main main main main .";
}

header {
    grid-area: hd;
}

h1 {
    margin-top: 3em;
    font-size: 2.5rem;
}

h2 {
    font-size: 2em;
}

h3 {
    margin-top: -20px;
}

sup {
    font-size: 0.7rem;
}

a {
    text-decoration: none;
}

.flared-horizontal-rule-effect hr {
    border: 0;
    border-bottom: 2px solid #BBBBBB;
    border-left: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    height: 15px;
    border-radius: 25px;
    background-color: initial;
}

.flared-horizontal-rule-effect hr:nth-of-type(2) {
    transform: rotate(180deg);
    margin-top: -10px;
}

header,
h1,
h2,
.social-links {
    font-family: 'Audiowide', cursive;
}

#default-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    position: fixed;
    top: 0;
    right: 15%;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    z-index: 2;
}

#default-nav a {
    text-decoration: none;
    color: initial;
    margin-top: -0.5em;
    background-color: var(--white);
    border-radius: 47%;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

#default-nav a:hover {
    color: var(--white);
    background-color: var(--red);
}

.about-nav,
.blog-nav {
    padding: 1.4em 0.6em 1em 0.6em;
}

.portfolio-nav,
.contact-nav {
    padding: 1.4em 0.6em 1.2em 0.6em;
}

#mobile-nav {
    width: 100%;
    background: var(--black);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

#mobile-nav,
#mobile-nav label,
#hamburger {
    display: none;
}

/* Menu Items */

#mobile-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mobile-nav ul li {
    display: block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

#mobile-nav ul li a {
    color: var(--white);
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    nav {
        right: 2%;
    }
}

@media screen and (max-width: 970px) {
    #default-nav {
        right: 2%;
    }
}

@media screen and (max-width: 659px) {
    #default-nav {
        display: none;
    }

    #mobile-nav,
    #mobile-nav input:checked~ul,
    #mobile-nav li {
        display: block;
    }

    #mobile-nav ul {
        display: none;
    }

    /* Show Hamburger */
    #mobile-nav label {
        display: inline-block;
        color: var(--white);
        background: var(--red);
        font-style: normal;
        font-size: 1.5rem;
        padding: 15px;
    }

    #mobile-nav li {
        border-top: 1px solid #333;
    }

    #mobile-nav li:nth-child(odd) {
        background-color: var(--red);
    }

    #mobile-nav li:nth-child(even) {
        background-color: var(--green);
    }

    #mobile-nav li:hover {
        background-color: var(--black);
    }
}

header .name-desc {
    margin-top: 5rem;
    text-align: right;
    padding-right: 0.5em;
}

main {
    grid-area: main;
}

hr {
    height: 3px;
    background-color: gray;
}

.skills ul {
    padding: 0 2rem;
    max-width: 800px;
}

.skills section+* {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.skills li {
    display: inline;
    list-style-type: none;
    padding: .3rem;
    line-height: 3rem;
    border-radius: 5px;
}

.skills li:nth-child(odd) {
    color: white;
    background-color: var(--red);
}

.skills li:nth-child(even) {
    background-color: var(--green);
}

.featured-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px 0;
    line-height: 1.3;
}

.portfolio h2 {
    margin-top: 4rem;
    margin-bottom: -.7rem;
}

.featured-projects figure {
    padding-bottom: 1.8em;
    margin: 0;
}

.featured-projects figcaption {
    text-align: center;
}

.featured-projects figcaption p {
    font-size: 1.8rem;
    margin: 2rem 0 0;
    min-height: 95px;
    padding: 8px 0;
}

.card {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.card img {
    height: 270px;
    min-width: 100%;
}

.project-description {
    padding: .5rem;
    height: 150px;
    overflow-y: auto;
}

.buttons a {
    text-decoration: none;
    color: inherit;
    font-family: 'Baloo Paaji 2', cursive;
}

button {
    color: var(--white);
    padding: 0.3em;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
}

button.view-source {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--light-red)), to(var(--red)));
    background: linear-gradient(to bottom, var(--light-red) 5%, var(--red) 100%);
    background-color: var(--light-red);
}

button.view-source:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--red)), to(var(--light-red)));
    background: linear-gradient(to bottom, var(--red) 5%, var(--light-red) 100%);
    background-color: var(--red);
}

button.view-live {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--light-green)), to(var(--green)));
    background: linear-gradient(to bottom, var(--light-green) 5%, var(--green) 100%);
    background-color: var(--light-green);
}

button.view-live:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--green)), to(var(--light-green)));
    background: linear-gradient(to bottom, var(--green) 5%, var(--light-green) 100%);
    background-color: var(--green);
}

.about-copy {
    padding: 1.2rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    max-width: 1000px;
}

.about-copy p {
    font-size: 1.05rem;
}

.about-copy span {
    font-weight: bold;
}

#about h2 {
    margin-top: 6rem;
}

#about {
    margin-bottom: 4rem;
}

.social-links {
    grid-area: sd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 35vh;
    left: 5vw;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.social-links div,
.social-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-links div {
    margin-bottom: 1.2em;
}

.social-links a {
    padding: .3rem;
}

.social-links div span:nth-child(2) {
    color: initial;
}

.social-links a:hover {
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    background-color: palegoldenrod;
    -webkit-transition: background-color 1s, -webkit-box-shadow 2s;
    transition: background-color 1s, -webkit-box-shadow 2s;
    transition: background-color 1s, box-shadow 2s;
    transition: background-color 1s, box-shadow 2s, -webkit-box-shadow 2s;
}

.social-links i {
    font-size: 2rem;
    padding: 2px;
}

.github i {
    color: rgb(119, 70, 22);
}

.linkedin i {
    color: grey;
}

.email i {
    color: var(--green);
}

.resume i {
    color: var(--red);
}

@media screen and (max-width: 970px) {
    body {
        grid-template-areas: ".  .  hd   hd   hd   hd   hd   hd   hd"
            "sd sd main main main main main main main";
    }

    header,
    main {
        margin: 0 40px 0 20px;
    }
}

@media screen and (max-width: 760px) {
    body {
        grid-template-areas: "hd   hd   hd   hd   hd   hd   hd   hd   hd"
            "main main main main main main main main main"
            "sd    sd    sd    sd   sd   sd   sd    sd    sd";
    }

    header,
    main {
        margin: 0 40px;
    }

    .portfolio .featured-projects {
        grid-template-columns: repeat(auto-fit, minmax(220px, 315px));
        justify-content: center;
    }

    .social-links {
        position: initial;
        -webkit-transform: initial;
        transform: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
    }

    .social-links div {
        margin-top: 2.5rem;
        padding: 0 8px;
    }
}

@media screen and (max-width: 590px) {

    header,
    main {
        margin: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    header {
        display: block;
    }

    header .name-desc {
        margin-top: -2em;
    }
}