body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', cursive;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
        ".  .  hd   hd   hd   hd   hd   hd   ."
        "sd sd main main main main main main .";
}

header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0.5em;
}

.logo img {
    width: 4em;
    height: 4em;
    border-radius: 10px;
}

header .name-desc {
    text-align: right;
    padding-right: 0.5em;
}

header h1 {
    margin-top: 1.2em;
}

header h3 {
    margin-top: -20px;
}

main {
    grid-area: main;
}

hr {
    height: 3px;
    background-color: gray;
}

.portfolio-summary img {
    min-width: 100%;
    height: 310px;
    margin: 3em 0;
    border: 2px dashed peru;
}

.portfolio h2 {
    font-size: 2em;
}

.portfolio .featured-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px 0;
}

.featured-projects a {
    text-decoration: none;
    font-size: 1em;
    color: rgb(20, 20, 20);
}

.featured-projects a:hover {
    color: saddlebrown;
}

.featured-projects figure {
    padding-bottom: 1.8em;
    margin: 0;
}

.featured-projects img {
    min-width: 100%;
    height: 200px;
    padding: 0.5em 0;
}

.featured-projects figcaption {
    text-align: center;
}

.featured-projects figcaption p {
    font-size: 1.7em;
    margin: 0;
    padding: 8px 0;
}

.colour-scheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colour-scheme div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
    align-items: center;
}

.colour-scheme .colour1,
.colour-scheme .colour2,
.colour-scheme .colour3 {
    width: 55px;
    height: 55px;
    padding-bottom: 2px;
}

.colour-scheme .colour1 {
    background-color: rgb(20, 20, 20);;
}

.colour-scheme .colour2 {
    background-color: peru;
}

.colour-scheme .colour3 {
    background-color: gray;
}

@media screen and (max-width: 970px) {
    .container {
        grid-template-areas: 
            "sd  sd main  main main main main main main";
    }

    .main-container {
        margin: 0 40px 0 20px;
    }
}

@media screen and (max-width: 760px) {

    .container {
        grid-template-areas: 
            "main  main main  main main main main main main"
            ". .  .  ft   ft   ft   .    .    .";
    }

    .main-container {
        margin: 0 40px;
    }

    .portfolio > div {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .side-container {
        grid-area: ft;
    }

    .colour-scheme {
        flex-direction: row;
    }

    .colour-scheme div {
        margin-left: 10px;
    }
}

@media screen and (max-width: 590px) {
    .main-container {
        margin: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    header {
        display: block;
    }

    header div:nth-child(2) {
        margin-top: -2em;
    }
}

